.change1:hover{
    opacity: 0.7;;
    cursor: pointer;
}

.change2:hover{
    color: blue;
    cursor: pointer;
}

.change3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.change4:hover{
    cursor: pointer;
}

.top{
    height: 44px;
    background-color: rgba(50, 50, 50, 0.9)
}

.top ul{
    height: 44px;
    width: 1000px;
    display:table;
    margin:0 auto;
}

.top-list li{
    height: 44px;
    float: left;
    color: white;
    margin-left: 7%;
}

.box{
    padding-top: 10px;
}

.support{
    height: 35px;
    width: 70%;
    margin: 20px 15%;
    border-bottom: 1px solid #d6d6d6;
}

input{
    height: 50px;
    width: 100%;
    margin-top: 50px;
}

.app{
    height: 170px;
    width: 100px;
    float: left;
    padding: 0px 30px;
    margin: 0 auto;
}

.social{
    float: right;
    height: 25px;
    width: 60px;
    margin: 10px 0px;
}

.p1{
    height: 70px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.other{
    height: 1200px;
}

.footer{
    height: 390px;
}