*{
    margin: 0;
    padding: 0;
}


.header{
    height: 40px;
}

.container{
    padding-left: 100px;
}

.contain{
    width: 40px;
    height: 40px;
    float: left;
    display: flex;
}

.body{
    height: 300px;
    background-color:green;
    position: relative;
}

.point{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 20px;
    margin:auto;
    
}

.arow{
    width: 40px;
    height: 80px;
    float: left;
    margin-top: 130px;
    position: relative;
    left: -40px;
}

.photo{
    height: 188px;
    width: 188px;
    margin: 0 auto;
    position: relative;
    top: 56px;
    background-image:url(back.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pause{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 30px;
    opacity: 0.7;
    margin: 0 auto;
    display: none;
    position: relative;
    top: 60px;
}

.pause-top{
    border-left: 30px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin: 0 auto;
    opacity: 0.9;
    position: relative;
    left: 20px;top: 16px;

}


.change1{
    animation: move1 1s alternate infinite;
}

.change2{
    animation: move1 1s 0.5s alternate infinite;
}

.change3{
    animation: move1 1s 1s alternate infinite;
}


@keyframes move1
{
    from {width: 40px;height: 40px;}
    to {width: 0px;height: 0px;}
}

.body:hover .arow{
    animation: move2 1s;
    animation-fill-mode: both;
}

@keyframes move2
{
    from{left: -40px;}
    to{left: 0px;}
}

.photo:hover .pause{
    display: block;
}

.photo:hover{
    animation: move3 1s;
    animation-fill-mode: both
}

@keyframes move3
{
    from{background-size: 188px}
    to{background-size: 200px}
}